$success-color: #4BA85D;
$danger-color: #DD4445;
$info-color: #16a2af;

$alert-txt: #fff;

$white-color: #fff;
$table-row-hover: #dcd7d7;
$menu-bottom-border: #f1ecec;

$table-header-color: #a04c4c;
$active-menu-color: #fff;

/**
PRODUCT LISTING COLOR
*/
$listing-background-color: #C6E0ED;
$listing-text-color-two: #1F87C0;
$listing-newtext-color: #1E88C3;
$listing-txt-color: #1F86BB;
$listing-foreground-color: #1F86BB;
$step-active-color: #1F86BB;
$step-active-before-color: #232323;
$head-background-color: #66BB6A;