<div class="content-box-start">
    <div class="dashboard-box">
        <div class="dashboard-item mat-elevation-z2">
            <h2>
                55000
            </h2>
            <div class="bottom bg-gradient">
                Total Number of Users
            </div>
        </div>
        <div class="dashboard-item mat-elevation-z2">
            <h2>
                36
            </h2>
            <div class="bottom bg-gradient">
                Total Number of Subscriptions
            </div>
        </div>
        <div class="dashboard-item mat-elevation-z2">
            <h2>
                15
            </h2>
            <div class="bottom bg-gradient">
                Total Number of Help Sent
            </div>
        </div>
        <div class="dashboard-item mat-elevation-z2">
            <h2>
                69
            </h2>
            <div class="bottom bg-gradient">
                Total Number of Users
            </div>
        </div>
        <div class="dashboard-item mat-elevation-z2">
            <h2>
                5
            </h2>
            <div class="bottom bg-gradient">
                Total Number of Users
            </div>
        </div>
        <div class="dashboard-item mat-elevation-z2">
            <h2>
                49
            </h2>
            <div class="bottom bg-gradient">
                Total Number of Users
            </div>
        </div>
        <div class="dashboard-item mat-elevation-z2">
            <h2>
                34
            </h2>
            <div class="bottom bg-gradient">
                Total Number of Users
            </div>
        </div>
        <div class="dashboard-item mat-elevation-z2">
            <h2>
                2900
            </h2>
            <div class="bottom bg-gradient">
                Total Number of Users
            </div>
        </div>
        <div class="dashboard-item mat-elevation-z2">
            <h2>
                29000
            </h2>
            <div class="bottom bg-gradient">
                Total Number of Users
            </div>
        </div>
        <div class="dashboard-item mat-elevation-z2">
            <h2>
                254
            </h2>
            <div class="bottom bg-gradient">
                Total Number of Users
            </div>
        </div>

        <div class="dashboard-item mat-elevation-z2">
            <h2>
                134
            </h2>
            <div class="bottom bg-gradient">
                Total Users
            </div>
        </div>
    </div>
</div>